
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');
@import url'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 1em; /*1em = 16px*/
	text-align: center;
	font-family: 'Gentium Basic', serif;
	color: #222222;
	line-height: 1.5;
}

#splash {
	background: url(../images/heroimage2.jpg);
	padding: 1.25em;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

nav {
    padding: 1.25em;
    width: 100%;
    float: left;
    background-color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
    color: #222;
}
nav a {
	display: inline-block;
	font-weight: 700;
	padding: .5em 1em;
	text-decoration: none;
	color: #222;
}

nav a:visited {
	color: #222;
}
nav a:hover {
	color: #CFD8DC;
}
nav a:active {
	
	color: #222;
}

#mobile {
	display: none;
}
main {
	max-width: 1400px;
	margin: auto;
}

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 3.75em;
	text-align: left;
	padding-top: 2.5em;
	margin-top: 2em;
}

/*hr{
	background-color: #222;
	width: 3em;
	height: 0.1875em;
	margin: 1em auto;
	border-style: solid;
}*/

h2 {
	font-size: 1.8em;
	text-align: left;	
	padding-top: 1em;
	font-weight: 700;
	font-family:'Gentium Basic', serif;
}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.9em;
	text-align: center;	
	padding-top: 2em;
	margin: 0.625em;
}

p {
	text-align: center;
	padding: 0.625em;
	font-family:'Gentium Basic', serif;
	font-size: 1em;
	font-weight: 400;
}
.the_brief p {
	display: block;
	margin: auto;
	width: 33.33%;
	padding-bottom: 2.3em;
	text-align: left;
}

img {
	width: 100%;
}

.three_column img {
	width: 100%;
}

.three_column a {
	float: left;
	line-height:0;
	width: 33.33%;
	padding: 1em;
	position: relative;
}

.three_column div {
    position: absolute;
    top: 1em;
    left: 1em;
    background-color:rgba(61, 118, 250, 0);
    transition: ease-in-out 0.5s;
    z-index: 1;
    right: 1em;
    bottom: 1em;
    line-height:1.5;
}

.three_column div:hover {
	background-color: rgba(61, 118, 250, 0.46);
}

.three_column .last_div {
	background-color:rgba(61, 118, 250, 1);
}

.three_column .last_div:hover {
    transition: 0;
}

.three_column p {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	color: #fff;
	z-index: 2;
	text-decoration: none;
	font-size: 2em;
	font-family: 'Montserrat Subrayada', sans-serif;
	font-weight: 700;
	width: auto;
	letter-spacing: 0.125em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.wrapper {
	width: 95%;
	padding: 0.625em auto;
	margin: auto;
}

footer {
    padding: 1.25 0.625 1.25 0.625;
}

footer a {
	display: inline-block;
	text-decoration: none;
	background-color: inherit;
}

.social img {
	width: 30%;
	padding: none;
	margin: auto;
}

.shipping {
background-color: #CFD8DC;
color: black;
padding: 1em;
width: 100%;
margin: auto;
font-weight: 600;
font-family: 'Montserrat Subrayada', sans-serif;
}

.shipping:visited {
	color: #222;
}
.shipping:hover {
	color: white;
}
.shipping:active {
	color: #222;
}

#copyright p {
text-align: right;
padding: 0.725em;
width: auto;
}

@media only screen and (max-width: 993px) {
	.three_column a {
		width: 50%;
	}
	.three_column a:last-of-type {
		width: 100%;

	}
	.three_column a:nth-of-type(3) {
		width:100%;
	}
	.three_column a:nth-of-type(6) {
		width: 100%;
	}
	h1, h2 {
		text-align: center;
	}
}

@media only screen and (max-width: 728px) {

	.three_column img {
		width: 100%;
		margin: auto;
	}

	.three_column div {
		background-color:rgba(61, 118, 250, .42);
	}
}

@media only screen and (max-width: 681px){
	h2 {
	display: none;
	}

.the_brief p {
	width: 50%;
	} 
}

@media only screen and (max-width: 655px){

h1 {
	font-size: 3.4em;
}

h3 {
	font-size: 1.7em;
	}
}
@media only screen and (max-width: 624px) {

.three_column a {
	float: none;
	display:block;
	width:100%; 
	margin:0 auto;
	}

footer nav {
	display: block;
	float: none;
	}

nav a {
		display: none;
		float: none;
	}

#mobile {
	display: block;
}

nav:hover a {
	display: block;
	}
}

@media only screen and (max-width: 320px) {
	

h1 {
		font-size: 3em;
	}

}
