@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');
@import url 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 1em; /*1em = 16px*/
	text-align: center;
	font-family: 'Gentium Basic', serif;
	color: #222;
	line-height: 1.5;
}

#splash {
	background: url(../images/heroimage2.jpg);
	padding: 20px;
	background-repeat: no-repeat;
	/*border: 1px black solid;*/
	background-size: cover;
	height: 90vh;
}
nav {
    /*background-color: #E8C66A;*/
    /*border: 1px black solid;*/
    padding: 20px;
    width: 100%;
   /* border: 1px black solid;*/
    float: left;
    background-color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}
nav a{
	display:inline-block;
	font-weight: 700;
	padding: .5em 1em;
	text-decoration: none;
	color: inherit;
}

nav a:visited{
	font color: #000000;
}
nav a:hover{
	bottom-border: 3px solid 
	color: #000000;
}
nav a:active{
	font color: #000000;
}
main {
	/*background-color: #9D97EC;*/
	width: 1200px;
	margin: auto;
}
h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 3.75em;
	text-align: left;
	padding-top: 90px;
	margin-top: 2em;
}

h2{
	font-size: 1.5em;
	text-align: center;	
	padding-bottom: 1em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Montserrat Subrayada', sans-serif;
}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.5em;
	text-align: center;	
	padding: 15px;
	/*margin: 10px;*/
	border-bottom: 1px;
}

h4 {
	font-size: 1.25em;
}

hr{
	background-color: #222;
	width: 3em;
	height: 3px;
	margin:1em auto;
	border-style: solid;
}

p {
	text-align: center;	
	padding: 10px;
	font-family:'Gentium Basic', serif;
	font-size: 1em;
	font-weight: 400;
	width: 500px;
	display: block;

}

img {
	width: 100%;
}

section {
	width: auto;
	/*margin: 10 0 10 0px;*/
	/*background-color: #9D97EC;*/
}

section img {
	max-width: 600px;
	display: block;
	margin: auto;
}

/*section {
	font-size: 16px;
	text-align: center;*/

}
.three_column {
	/*background-color: #ffb7cf;*/
	/*border: 1px black solid;*/
	/*padding: 10, 0, 0, 10px;*/
}

.three_column section {
	/*border: 1px solid;*/
	padding: 2em;
	float: left;
	width: 32.33%;
	margin: .5%;
	min-height: 25em;
}

#left {
	background-color: #9FA8DA;
}

#middle{
	background-color: #9FA8DA;
}

#right{
	background-color: #9FA8DA;
	text-align: center;
}



.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.wrapper {
	width: 95%;
	padding: 10px auto;
	margin: auto;

}
footer {
	/*background-color: #FF957E;*/
	/*border: 1px black solid;*/
   /* padding: 20 10 20 10px;*/
}

footer a {
	display:inline-block;
	text-decoration: none;
	background-color: inherit;
	color: black;

}

footer img {
width: 30%;
margin-right: 5px
}

