@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700');
@import url 'https://fonts.googleapis.com/css?family=Montserrat+Subrayada';

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	font-size: 1em; /*1em = 16px*/
	text-align: center;
	font-family: 'Gentium Basic', serif;
	color: #222;
	line-height: 1.5;
}

.wrapper {
	padding: 10px auto;
}
header {
	background: url(../images/heroimage2.jpeg);
	padding: 20px;
	background-repeat: no-repeat;
	border: 1px black solid;
	background-size: cover;
	height: 90vh;
}
nav {
    background-color: #E8C66A;
}
nav a {
	display:inline-block;
	font-weight: 700;
	padding: .5em 1em;
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 3.75em;
	text-align: center;
	padding-bottom top: none;
}

h2{
	font-size: 1.5em;
	text-align: center;	
	padding-bottom: 5px;
	font-weight: 700;
}

h3 {
	font-family: 'Montserrat Subrayada', sans-serif;
	font-size: 1.5em;
	text-align: center;	
}

hr{
	background-color: #222;
	width: 3em;
	height: 3px;
	margin:1em auto;
	border-style: solid;
}

p {
	text-align: center;	
	padding: 8px;
}

img {
	width: 60%;
}

section{
	width:30em;
	margin:2em auto;
	background-color: #FFE2B8;

}
footer {
	padding: 10px;
	background-color: #FF957E
}

footer a {
	text-decoration: none;
	color: inherit;
}
